/* auctions.css */
.cards-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent cards from wrapping to the next row */
    overflow-x: auto; /* Add horizontal scroll if needed */
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    /* Card styles as before */
    /* ... */
    width: calc(10% - 10px); /* Adjust the width for four cards per row and reduce the space between cards */
    margin-right: 10px; /* Reduce the margin between cards */
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

.hidden {
    display: none;
}

.hidden-checkbox {
    display: none;
}

.toggle-button {
    cursor: pointer;
}

/* Hide elements when the checkbox is not checked */
.hidden-checkbox:not(:checked) + .toggle-button + .hidden-element {
    display: none;
}

/* Show elements when the checkbox is checked */
.hidden-checkbox:checked + .toggle-button + .hidden-element {
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the column width as needed */
    gap: 20px; /* Adjust the gap between cards */
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Style for each auction card */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 1.25rem;
    margin: 10px 0;
    text-align: center;
}

.card-text {
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

.text-muted {
    color: #999;
}

.btn-primary,
.btn-outline-primary {
    width: 100%;
    margin-top: 10px;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
    background-color: transparent;
    transition: all 0.3s;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
