/* perfil.css */

.perfil-container {
    margin: 20px auto; /* Add margin for spacing */
    text-align: center; /* Center-align text content */
    margin-left: 400px;
}

/* Add styles as needed */
