<!DOCTYPE html>
<html>
<head>
    <title>Auctions Online</title>
</head>
<body>
    <li class="nav-item">
        <a class="nav-link" id="Produtos-link" href="{% url 'product_list' %}">Produtos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin' %}">Admin Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
</body>
</html>