<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


    <!-- ICON -->
    <link rel="icon" href="/static/images/icon.png">

    <!-- PAGE CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    {% extends 'index.html' %}
    {% block body %}
    <div class="container mt-4">
        <h1>Alter Product</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="new_name">Novo Nome</label>
                <input type="text" class="form-control" id="new_name" name="new_name" value="{{ produto.title }}">
            </div>
            <div class="form-group">
                <label for="new_description">Nova Descrição</label>
                <textarea class="form-control" id="new_description" name="new_description"> {{produto.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="new_lot">Novo Lote</label>
                <input type="text" class="form-control" id="new_lot" name="new_lot" value="{{ produto.lot_id }}">
            </div>
            <div class="form-group">
                {% for existing_image in existing_images %}
                <img src="{{ existing_image.image.url }}" alt="Existing Image">
                <label for="image_{{ existing_image.id }}">
                <input default="0" type="checkbox" name="deleted_images" value="{{ existing_image.id }}" id="image_{{ existing_image.image.url }}">Delete</label>
                {% endfor %}
                <!-- Provide file input for new images -->
                <input type="file" name="new_image" multiple>
            </div>
            <button type="submit" class="btn btn-primary">Atualizar Producto</button>
        </form>
    </div>
    {% endblock %}
    <!-- Include Bootstrap JS and other scripts if needed -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
