<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/auctions.css">
</head>
<body>
    <div class="grid-container">
        <!-- Loop through items and create cards -->
        {% for produto in auctions %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nome do produto: {{ produto.1 }}</h4>
                <p class="card-text">Descrição: {{ produto.2 }}</p>
                <p class="card-text">Lote: {{ produto.4 }}</p>
                <p class="text-muted">Leilão começa: {{ produto.10|date:'Y-m-d H:i' }}</p>
                <p class="text-muted">Leilão termina: {{ produto.11|date:'Y-m-d H:i' }}</p>
                <p class="text-muted">Preço base: {{ produto.9 }}</p>
                <p class="text-muted">Número de licitações: {{ produto.8}}</p>
                <ul>
                    {% for image in produtos %}
                    <li ><img src="{{image}}" alt="" class="product-image"></li>
                    {% endfor %}
                </ul>
            </div>
                {% if user.is_staff %}
                    <!-- Change Price Button for staff/admin -->
                    <a href="{% url 'alter_auction' produto.7 %}" class="btn btn-outline-primary">Editar Leilao</a>
                {% else %}
                    {% if watchlist %}
                        {% if produto.auction_id in watchlist %}
                            <button type="button" class="btn btn-outline-primary watch_button" onclick="location.href='/website/watchlist/{{ produto.7}}'">Unwatch</button>
                        {% else %}
                            <button type="button" class="btn btn-outline-primary watch_button" onclick="location.href='/website/watchlist/{{ produto.7}}'">Watch</button>
                        {% endif %}
                    {% else %}
                    <button type="button" class="btn btn-primary bid_now_button" onclick="location.href='{% url 'bid' produto.7 %}'">Bid Now</button>
                    <button type="button" class="btn btn-outline-primary watch_button" onclick="location.href='{% url 'watchlist' produto.7 %}'">Watch</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
