<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


    <!-- ICON -->
    <link rel="icon" href="/static/images/icon.png">

    <!-- PAGE CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    {% extends 'index.html' %}
    {% block body %}
    <h1>Bid for "{{ produto.title }}"</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Place Bid</button>
    </form>
    <a href="{% url 'download_xml_auctions' %}" class="btn btn-primary">Info Leilao (XML)</a>
    {% endblock %}
</body>
</html>