<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/produtos.css">
    <title>LISTA DE PRODUTOS</title>
</head>
<body>
    {% extends 'index.html' %}
    {% block body %}
    <div class="cards-container">
        <!-- Loop through items and create cards -->
        {% for produto in produtos %}
        <div class="card">
            {% for image in produto.produtosimage_set.all %}
                <img class="card-img-top" src="{{ image.image.url }}" alt="Card image cap">
            {% endfor %}
            <div class="card-body">
                <h4 class="card-title">Produto: {{ produto.title }}</h4>
                <p class="card-text">Descrição: {{ produto.description }}</p>
                <p class="card-text">Lote: {{produto.lot_id}}</p>
            </div>
            <div class="card-footer">
                {% if user.is_staff %}
                    <!-- Change Price Button for staff/admin -->
                    <a href="{% url 'alter_produto' produto.product_id %}" class="btn btn-outline-primary">Editar Produto</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>
