<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/produtos.css">
</head>
<body>
    <div class="grid-container">
        <!-- Loop through items and create cards -->
        {% for produto in produtos %}
        <div class="card">
            {% for image in produto.produtosimage_set.all %}
                <img class="card-img-top" src="{{ image.image.url }}" alt="Card image cap">
            {% endfor %}
            <div class="card-body">
                <h4 class="card-title">Produto: {{ produto.title }}</h4>
                <p class="card-text">Descrição: {{ produto.description }}</p>
                <p class="card-text">Lote: {{produto.lot_id}}</p>
                <p class="text-muted">Leilão começa: {{ produto.created_at|time:'H:i' }}</p>
            <div class="card-footer">
                {% if user.is_staff %}
                    <!-- Change Price Button for staff/admin -->
                    <a href="{% url 'alter_produto' produto.product_id %}" class="btn btn-outline-primary">Editar Produto</a>
                {% else %}
                    {% if watchlist %}
                        {% if produto.id in watchlist %}
                            <button type="button" class="btn btn-outline-primary watch_button" onclick="location.href='/website/watchlist/{{ item.id }}'">Unwatch</button>
                        {% else %}
                            <button type="button" class="btn btn-outline-primary watch_button" onclick="location.href='/website/watchlist/{{ item.id }}'">Watch</button>
                        {% endif %}
                    {% else %}
                    <button type="button" class="btn btn-primary bid_now_button" onclick="location.href='{% url 'bid' product_id=produto.product_id %}'">Bid Now</button>
                        <button type="button" class="btn btn-outline-primary watch_button" onclick="location.href='{% url 'watchlist' %}'">Watch</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
