<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/perfil.css">
    <title>PERFIL</title>
</head>
<body>
    {% extends 'index.html' %}
    {% block body %}
    <div class="perfil-container">
        <h1 class="text-center">Welcome, {{ user.username }}!</h1>
        <p class="text-center">Your email: {{ user.email }}</p>
        <a href="{% url 'edit_perfil' user.id  %}">Editar perfil</a><br>
        <br><a href="{% url 'password_change' %}">Change Password</a><br>
        {% if user.is_staff %}
            <!-- Admin-specific content here -->
        {% else %}
        <br><p class="text-center">Your balance: ${{ user.client.balance }}</p>
            <h5 class="text-center">Your watchlist:</h5>
            <ul class="list-group">
                {% for item in user.client.watchlist.all %}
                    <li class="list-group-item">{{ item.name }}</li>
                {% empty %}
                    <li class="list-group-item">Your watchlist is empty.</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>
